.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav__links {
  display: flex;
  align-items: center;
  column-gap: 20px;
  list-style-type: none;
  flex-direction: row;
  justify-content: flex-end;
  width: 100%;
  padding-top: 30px;
  padding-right: 80px;
  margin: 0;
}

.nav__link {
  font-family: "Inter", Arial, sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  text-decoration: none;
  color: #000;
  transition: color 0.5s;
}

.nav__link:hover {
  color: #2f80ed;
}
