.page {
  min-width: 1100px;
  max-width: 1600px;
  margin: 0 auto;
  font-family: "Inter", Arial, sans-serif;
  font-size: 16px;
  line-height: 20px;
  background-color: #ffffff;
}

.header {
  height: 100vh;
  min-height: 720px;
  max-height: 800px;
  background-image: url(../images/background_header.svg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  width: 100%;
}

.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  width: 125px;
  height: 142px;
  position: absolute;
  top: 30px;
  left: 30px;
}

.nav__links {
  display: flex;
  align-items: center;
  column-gap: 20px;
  list-style-type: none;
  flex-direction: row;
  justify-content: flex-end;
  width: 100%;
  padding-top: 30px;
  padding-right: 80px;
  margin: 0;
}

.nav__link {
  font-family: "Inter", Arial, sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
}

.nav__link:hover {
  color: #2f80ed;
}

.header__title {
  font-family: "Inter", Arial, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 60px;
  line-height: 72px;
  max-width: 729px;
  padding-top: 202px;
  padding-left: 80px;
  margin: 0;
}

.header__span-accent {
  font-family: "Noto Serif", Times New Roman, serif;
  font-style: italic;
  font-size: 60px;
  line-height: 72px;
  color: #2f80ed;
}

.header__description {
  font-family: "Noto Serif", Times New Roman, serif;
  font-size: 20px;
  line-height: 30px;
  max-width: 683px;
  margin: 0;
  padding-top: 28px;
  padding-left: 80px;
}

.header__image {
  z-index: 1;
  width: 646px;
  height: 568px;
  position: absolute;
  top: 124px;
  right: 5px;
}

.header__footer {
  position: absolute;
  bottom: 40px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  box-sizing: border-box;
  font-family: "Inter", Arial, sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  color: #838383;
  padding-right: 80px;
  padding-left: 80px;
}

.content {
}

.recipes {
  height: 100vh;
  min-height: 720px;
  max-height: 800px;
  background-image: url(../images/background_recipes.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-color: #0a2750;
  width: 100%;
}

.recipes__title {
  font-family: "Inter", Arial, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 44px;
  line-height: 52px;
  color: #fff;
  max-width: 580px;
  margin: 0;
  padding-top: 100px;
  padding-left: 80px;
}

.recipes__subtitle {
  font-family: "Noto Serif", Times New Roman, serif;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 30px;
  color: #fff;
  max-width: 438px;
  margin: 0;
  padding-top: 24px;
  padding-left: 80px;
}

.recipes__videos {
  margin: 0;
  padding-left: 0;
  padding-top: 80px;
  padding-bottom: 215px;
  display: flex;
  justify-content: center;
  gap: 40px;
  list-style-type: none;
}

.recipes__iframe {
  border: none;
}

.recipes__video-caption {
  display: flex;
  justify-content: space-between;
  padding-top: 24px;
  font-family: "Inter", Arial, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 30px;
  color: #fff;
}

.reservation {
  background-image: url(../images/background_reservation.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-color: #d9e7ff;
  padding: 100px 80px 120px;
}

.reservation__title {
  font-family: "Inter", Arial, sans-serif;
  font-weight: 500;
  font-size: 44px;
  line-height: 52px;
  margin: 0 auto;
  text-align: center;
}

.reservation__form {
  margin: 0 auto;
}

.form {
  max-width: 684px;
  box-sizing: border-box;
  flex-direction: column;
  justify-content: center;
  padding-top: 80px;
  padding-left: 120px;
  padding-right: 120px;
}

.form__fieldset {
  display: flex;
  flex-direction: column;
  justify-content: center;
  max-width: 385px;
  border: none;
  width: 100%;
}

.form__label {
  font-family: "Inter", Arial, sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding-bottom: 32px;
}

.form__input {
  border-radius: 4px;
  max-width: 385px;
  width: 100%;
  height: 60px;
  font-family: "Inter", Arial, sans-serif;
  font-size: 20px;
  line-height: 30px;
  color: #838383;
  margin-top: 8px;
  padding: 0px;
}
.form__button {
  background-color: #2f80ed;
  height: 60px;
  color: #fff;
  border-radius: 4px;
  font-family: "Inter", Arial, sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
}

.form__button:hover {
  opacity: 0.7;
  background-color: #2f80ed;
  transition-property: background-color;
  transition-duration: 1s;
  transition-timing-function: linear;
}

.form__checkbox {
  border-radius: 2px;
  font-family: "Inter", Arial, sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
}

.menu {
  background-image: url(../images/background_menu.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-color: #fff;
  padding-top: 100px;
  padding-bottom: 100px;
}

.menu__title {
  text-align: center;
  max-width: 780px;
  margin: 0 auto;
  font-family: "Inter", Arial, sans-serif;
  font-weight: 500;
  font-size: 44px;
  line-height: 52px;
  padding-bottom: 24px;
}

.menu__subtitle {
  text-align: center;
  max-width: 780px;
  margin: 0 auto;
  font-family: "Noto Serif", Times New Roman, serif;
  font-size: 20px;
  line-height: 30px;
  padding-bottom: 100px;
}

.menu__cards {
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 0px;
  column-gap: 100px;
  row-gap: 100px;
}

.card {
  box-sizing: border-box;
  list-style-type: none;
  max-width: 540px;
  width: 100%;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  flex-direction: column;
}

.card__title {
  font-family: "Inter", Arial, sans-serif;
  font-weight: bold;
  font-size: 20px;
  line-height: 30px;
  margin: 0;
  padding-bottom: 32px;
}

.card__list-item {
  font-family: "Noto Serif", Times New Roman, serif;
  font-size: 16px;
  line-height: 20px;
  display: flex;
  flex-wrap: wrap;
  padding-bottom: 16px;
}

.card__list-divider {
  flex-grow: 1;
  border-bottom: solid 1px;
}

.about {
  background-color: #0a2850;
  color: #fff;
  display: flex;
  justify-content: space-between;
  overflow: hidden;
  box-sizing: border-box;
  position: relative;
}
.about__title {
  font-family: "Inter";
  font-weight: 500;
  font-size: 44px;
  line-height: 52px;
  margin: 0;
  padding-top: 100px;
  padding-left: 80px;
  max-width: 251px;
  z-index: 1;
}

.about__content {
  font-family: "Noto Serif", Times New Roman, serif;
  font-size: 20px;
  line-height: 30px;
  display: flex;
  flex-direction: column;
  max-width: 660px;
  gap: 20px;
  padding-top: 119px;
  padding-right: 80px;
  padding-bottom: 173px;
}

.about__paragraph {
  margin: 0;
}

.about__circle {
  background-color: #2f80ed;
  width: 426px;
  height: 426px;
  border-radius: 50%;
  position: absolute;
  z-index: 0;
  top: -152px;
  left: -129px;
}

@keyframes pulsate {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 0.6;
  }
  100% {
    opacity: 1;
    transform: scale(1.25);
    opacity: 0;
  }
}

.about__circle_animated_blurred {
  animation: pulsate 1.3s ease-in-out 0s infinite;
}
.footer {
  background: linear-gradient(180deg, #0a2850 0%, #071931 100%);
  color: #fff;
  padding: 60px 100px 60px 80px;
}

.footer__content {
  display: flex;
  justify-content: space-between;
}

.footer__logo {
  width: 116px;
  height: 21px;
  margin: 0;
}

.footer__list {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.footer__social-heading {
  font-family: "Inter", Arial, sans-serif;
  font-weight: bold;
  font-size: 16px;
  line-height: 20px;
  margin: 0 0 20px;
}

.footer__list-item {
  margin-bottom: 16px;
}

.footer__social-link {
  color: white;
  font-family: "Inter", Arial, sans-serif;
  font-size: 16px;
  line-height: 20px;
  text-decoration: none;
  display: flex;
  align-items: center;
}

.footer__social-link:hover {
  color: #c1c1c1;
  transition: 0.5s;
}

.footer__social-icon {
  height: 16px;
  width: 16px;
  margin-right: 10px;
}

.footer__copyright {
  margin: 108px 0 0;
  font-family: "Inter", Arial, sans-serif;
  font-size: 16px;
  line-height: 20px;
}
